<% include ./partials/header %>
  <body>
 <script>
 
    function QueryCityList(val) {
        //Ajax post and receive city list

        $("#loading_gif").show();
          $.ajax({
            url: "/FacetSearch/QueryCityList",
           // headers: headers,  use this for special header info like security auth
            method: 'POST',
             data: JSON.stringify({ StateID: val }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            // This prevents JQuery from trying to append the form as a querystring
            processData: false,
        
         }).done(function(data)
            {
                   //Get rid of spinning circle
                   $("#loading_gif").hide();

                   //Clear the drop down
                   $("#CityToQueryDropdown").find('option').remove().end();

                   //enumerate the drop down
                   $.each(data, function(key, value) { 
                        $('#CityToQueryDropdown')
                            .append($('<option>', { key : value.City })
                            .text(value.City)); 
                    });
            }
            ).fail(function(data)
            {
               $("#loading_gif").hide();
               return;
            }); 

         $("#CityToQueryDropdown").prop('disabled', false);
     
    }
     function handleFacetSearch() {
        //Prevent the form from trying to post itself again
        event.preventDefault();
        if ($( "#CityToQueryDropdown" ).val()=="0")
        {
           $('#MissingCityMessage').show();
           return;
        }
        $('#MissingCityMessage').hide();

        $('#ShowQueryDIV').show();

        var CityToQuery = $('#CityToQueryDropdown').val();
        var StateToQuery = $('#StateToQuery').val();

         $("#FacetSearchButton").prop('disabled', true);
        
        //Use AJAX and submit the form data to the server
        $.ajax({
            url: "/FacetSearch",
           // headers: headers,  use this for special header info like security auth
            method: 'POST',
             data: JSON.stringify({ City: CityToQuery, State: StateToQuery}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            // This prevents JQuery from trying to append the form as a querystring
            processData: false,
        
         }).done(function(data)
            {
              
                //Clear results DIV
                $("#FacetResultsDIV").empty();
                $("#FacetSearchButton").prop('disabled', false);

                 $.each(data[0], function(title, val1) {
                    
                     var table = document.createElement('table');
                     table.setAttribute("class","TextSearchResultsCSS");
                        table.setAttribute("style","width:400px");
                         $("#FacetResultsDIV").append(table);
                            var thead = document.createElement('thead');
                            thead.setAttribute("style", "background-color:lightblue;color:black;");
                            
                            table.appendChild(thead);
                            var th=document.createElement("th");
                            
                            th.setAttribute("style","text-align:center;width:200px");

                            thead.appendChild(th)
                           
                            .appendChild(document.createTextNode(title));

                            var th_rating=document.createElement("th");
                            th_rating.setAttribute("style","text-align:center;width:200px");
                            thead.appendChild(th_rating).
                            appendChild(document.createTextNode("Rating"));

                    $.each(val1, function (name_value, val2) {
                        
                          var row = table.insertRow(0);
                          row.insertCell(0).innerHTML=val2._id;
                          row.insertCell(1).innerHTML="<span class='badge pull-right'>" + val2.count + "</span>";
                         
                          
                     
                    })
                    $("#FacetResultsDIV").append("<br>");

                    });

                 var Query="Since we are only interested in a specific city and state the $match operator is a great way to limit the size of the data entering the aggregation pipeline.  The next stage in the pipeline is the $facet operator and here we define the three facets: ByCategories, ByStars, and ByPriceRange.  Since the category data is stored as an array we use the $unwind operator to deconstruct the array yielding a document for each element within the array.  With this deconstruction we can easily match the single value with the array of possible category values.  The $bucket operator categorizes documents into groups based on an expression.  In the ByStars facet the $bucket is forming groups based on the boundary specified.~X~X db.business.aggregate([~X{\"$match\": ~X~1{ \"state\": \"" + StateToQuery + "\", \"city\": \"" + CityToQuery + "\"} ~X},~X{\"$facet\" :~X~1{ \"ByCategories\":~X~1~1[ ~X~1~1~1{ \"$unwind\" : \"$categories\" },~X~1~1~1{ \"$match\" :~X~1~1~1~1{\"categories\" : ~X~1~1~1~1~1{ \"$in\" : ~X~1~1~1~1~1~1[\"Restaurants\", \"Food\", \"Bars\", \"Coffee & Tea\", \"Pizza\", \"Burgers\", \"Sandwiches\"] ~X~1~1~1~1~1}~X~1~1~1~1}~X~1~1~1~1}, ~X~1~1~1{ \"$sortByCount\" : \"$categories\" }~X~1~1],~X~1\"ByStars\":~X~1~1[~X~1~1~1{ \"$bucket\" :~X~1~1~1~1{ \"groupBy\" : \"$stars\", boundaries: [ 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], \"default\" : 0 }~X~1~1~1}~X~1~1],~X~1\"ByPriceRange\":~X~1~1[ ~X~1~1~1{ \"$bucket\" : { \"groupBy\" : \"$attributes.Price Range\", \"boundaries\" : [ 1, 2, 3, 4, 5 ], \"default\" : 0 } }~X~1~1] ~X~1}~X} ] )";

                 $('#divTextSampleSource').empty();
                 $('#divTextSampleSource').append(syntaxHighlight(Query));
         }) //done()
                            
            .fail(function(data)
            {
              $("#FacetSearchButton").prop('disabled', false);
              document.getElementById('lblTextResults').innerHTML = 'Unable to query data source, please try again later. Error: ' + data.responseText ;
  
            }); 

    };
     
</script>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="MongoImage" src="images/mongodb_logo3.png"></a>
    </div>
  </div>
</nav>

  <div class="container">  
  <div class="row">

      <% var active='facet'; %>
      <% include ./partials/sidebar %>
      
      <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="content">
        <div class="hero-unit">
            <h1>Facet Queries Overview</h1>
            <p>Faceted search, or faceted navigation, is a way of browsing and searching for items in a set of data by applying filters on various properties (facets) of the items in the collection. </p>
            <p>Without native facet search in MongoDB, developers would have to issue multiple filter queries to obtain the desired groupings of data.  In MongoDB just one query is needed to obtain faceted search results improving development time and overall application performance!</p>
            <p>To see Facet search in action, select a city and state from the dropdowns below.  This web page will issue a faceted search against the business collection and return a list of businesses and their corresponding categories.</p>
            <p>
            <p><a class="btn primary large" href="https://www.mongodb.com/blog/post/faceted-search-with-mongodb" target="_">Learn more about faceted search &raquo;</a></p>
        </div>
        <label for="StateToQuery">Select a state:</label>
        <select class="form-control" id="StateToQuery" required onchange="QueryCityList(this.value)">
        <option value="0" selected="true">-- Select a state --</option>
              <option value="IL">Illinois</option>
              <option value="NC">North Carolina</option>
           </select>
     
          <label for="CityToQuery">Select a city:</label>
           <select class="form-control" id="CityToQueryDropdown" required disabled>
            <option value="0">--- Select a state above ---</option>
           </select>
            <div class="alert alert-danger fade in" id="MissingCityMessage" style="display:none;">
                <strong>Opps!</strong> Please choose a city and state from the drop down box above.
            </div>

           <br>
          <div>
           <button type="submit" class="btn btn-default" id="FacetSearchButton" onclick="handleFacetSearch()" style="border:solid;" >Query Facets</button>&nbsp;&nbsp; 
           <img src="/images/white-loading.gif" id="loading_gif" style="display: none;width:40px;height:40px;" >
           <div id="ShowQueryDIV" style="display: none">
           <p>Interested in knowing what the MongoDB query would be?   <button type="button" class="btn btn-link" id="TextSearchShowCodeButton" data-toggle="modal" data-target="#ShowQuery">Show Query</button><br>
           </div>
        
           </div>
           
            <!--Show Query Dialog-->
                <div class="modal fade" id="ShowQuery" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Show Query</h4>
                    </div>
                    <div class="modal-body">
                    <div id="divTextSampleSource"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
                </div>    

           <label id="lblTextResults"></label>

            <div class="content-fluid">
            <div class="panel panel-default">
            <div class="panel-heading">Faceted Search Results</div>
            <div class="panel-body"  id="FacetResultsDIV">
                   <!-- style="height: 300px;overflow: auto" <table id="TableGraphResults" class="TextSearchResultsCSS"/>-->
                </div>
            </div>
            </div>

      </div> <!-- content -->
      </div> <!-- col-sm-6 -->
      </div> <!-- row -->
      </div> <!-- container-->
    
<% include ./partials/footer %>