<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>MongoDB - General purpose database for GIANT IDEAS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mystyle.css">
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <script>
 
    function QueryBusinessList() {

        //If we loaded the list don't do it again
        if ($('#BusinessToQuery').children('option').length>1) return;

        $("#loading_gif").show();
          $.ajax({
            url: "/GeoSearch/QueryBusinessList",
           // headers: headers,  use this for special header info like security auth
            method: 'POST',
            data:  JSON.stringify({ }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            // This prevents JQuery from trying to append the form as a querystring
            processData: false,
        
         }).done(function(data)
            {
                   //Get rid of spinning circle
                   $("#loading_gif").hide();

                   //Clear the drop down
                   $("#BusinessToQuery").find('option').remove().end();

                    $.each(data, function(key, value) { 
                        $('#BusinessToQuery')
                            .append($('<option>', { key : value.Business })
                            .text(value.Business)); 
                        
                    });

            }
            ).fail(function(data)
            {
               $("#loading_gif").hide();
               return;
            }); 
     
    }
     function handleGeoSearch() {
        //Prevent the form from trying to post itself again
        event.preventDefault();
        if ($( "#BusinessToQuery" ).val()=="0")
        {
           $('#MissingBusinessMessage').show();
           return;
        }
        $('#MissingBusinessMessage').hide();

        var BusinessNameToQuery = $('#BusinessToQuery').val();
        var DistanceToQuery=$('#MetersFromSource').val();

         $("#GeoSearchButton").prop('disabled', true);
        
        //Use AJAX and submit the form data to the server
        $.ajax({
            url: "/GeoSearch",
           // headers: headers,  use this for special header info like security auth
            method: 'POST',
            data: JSON.stringify({ Business: BusinessNameToQuery, Distance: DistanceToQuery}), //V2.0 pass City/State
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            // This prevents JQuery from trying to append the form as a querystring
            processData: false,
        
         }).done(function(data)
            {
              
                //Clear results DIV
              
                $("#GeoSearchButton").prop('disabled', false);
                $('#TableGeoResults').empty();
                var table = document.getElementById("TableGeoResults");

           
               //Define the header of the results table
                var ArrayHeader = ["Business Name","Distance from origin"];
                var thead = document.createElement('thead');

                table.appendChild(thead);

               for(var i=0;i<ArrayHeader.length;i++){
                    thead.appendChild(document.createElement("th")).
                    appendChild(document.createTextNode(ArrayHeader[i]));
                }
               

                var uluru = {lat: data[0].BusinessCoord[1], lng: data[0].BusinessCoord[0]};
                var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: uluru
                        });
                        for (var i=0;i<data.length;i++)
                        {
                            var myLatLng = {lat: data[i].BusinessCoord[1], lng: data[i].BusinessCoord[0]};
                                         
                            var marker = new google.maps.Marker({
                                position: myLatLng,
                                label: data[i].BusinessName,
                                map: map
                            });
             
                          var row = table.insertRow(0);
                          row.insertCell(0).innerHTML=data[i].BusinessName;
                          row.insertCell(1).innerHTML=data[i].DistanceToBusiness;
               
                        }
                          

                var Query="db.business.aggregate([    {<br>&nbsp;&nbsp;&nbsp;$geoNear: {  near: { type: \"Point\",<br>&nbsp;&nbsp;&nbsp;coordinates: [ coord.longitude,coord.latitude  ] },";
                Query+="&nbsp;&nbsp;&nbsp;distanceField: \"dist.calculated\",<br>&nbsp;&nbsp;&nbsp;maxDistance: " + DistanceToQuery + ",<br>&nbsp;&nbsp;&nbsp;query: { },<br>&nbsp;&nbsp;&nbsp;includeLocs: \"dist.location\",<br>";
                Query+="&nbsp;&nbsp;&nbsp;num: 50,<br>&nbsp;&nbsp;&nbsp;spherical: true      }    }, { $project: { name:1, dist:1 }} ])";
                document.getElementById('lblTextSampleSource').innerHTML=Query;
         }) //done()
                            
            .fail(function(data)
            {
               $("#GeoSearchButton").prop('disabled', false);
                //document.getElementById('lblTextResults').innerHTML = 'Failed !';
            }); 

    };
    function initMap() {
        var uluru = {lat: 36.01169, lng: -115.1758}; // 36.01169  -115.1758
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }

      //As soon as we load the page, query for the business list
   $(document).ready(QueryBusinessList);
 
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlcTazO9PgfR_LcG9JPe4eoHPPsCBpOls&callback=initMap">
</script>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="MongoImage" src="images/mongodb_logo3.png"></a>
    </div>
  </div>
</nav>

  <div class="container">  
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">

    <div class="sidebar">
      <div class="well">   
       <div class="list-group">
          <a href="/" class="list-group-item list-group-item-info">MongoDB<br/><I>A General Purpose Database</I></a>
       
       </div>
        <div class="list-group">
           <a href="#" class="list-group-item list-group-item-success">Advanced Search</a>
           <a href="/FacetSearch" class="list-group-item">Faceted Search</a>
            <a href="/TextSearch" class="list-group-item">Text Search</a>
            <a href="/GraphSearch" class="list-group-item">Graph Queries</a>
            <a href="/GeoSearch" class="list-group-item active">Geo-spatial Search</a>
          </div>

          <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success">Data Analytics</a>
            <a href="/SparkIntegration" class="list-group-item">Spark Integration</a>
            <a href="#" class="list-group-item">Reporting Tools</a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success">Relational-like</a>
            <a href="#" class="list-group-item">Constraints</a>
            <a href="#" class="list-group-item">Views</a>
             <a href="#" class="list-group-item">Joins</a>
          </div>
       
       
       </div>
      </div> 
      </div> <!--col-sm-6-->
      
      <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="content">
        <div class="hero-unit">
            <h1>Geospatial Queries Overview</h1>
            <p>Geospatial allows you to... To demonstrate, below is a list of businesses in the Las Vegas, Nevada area.  Pick a business and then choose a distance.  The query will return a list of businesses within those parameters.</p>
            <p><a class="btn primary large">Learn more &raquo;</a></p>
        </div>
        <label for="BusinessToQuery">Select a business:</label>
        <select class="form-control" id="BusinessToQuery" required onchange="QueryBusinessList()">
            <option value="0">--- Select a business ---</option>
           </select>
            <div class="alert alert-danger fade in" id="MissingBusinessMessage" style="display:none;">
                <strong>Opps!</strong> Please choose a business.
            </div>
           <label for="MetersFromSource">Find all businesses within this distance:</label>
            <div class="input-group">
                <input id="MetersFromSource" type="text" class="form-control" name="MetersFromSource" placeholder="Enter distance in meters" value="1000">
                <span class="input-group-addon">meters</span>
            </div>
            
           <br>
           <p>Interested in knowing what the MongoDB query would be?   <button type="button" class="btn btn-link" id="TextSearchShowCodeButton" data-toggle="modal" data-target="#ShowQuery">Show Query</button><br>
          
          <div>
           <button type="submit" class="btn btn-default" id="GeoSearchButton" onclick="handleGeoSearch()" style="border:solid;" >Find Businesses</button>&nbsp;&nbsp; 
           <img src="/images/white-loading.gif" id="loading_gif" style="display: none;width:40px;height:40px;" >
           </div>
           <br>
            <!--Show Query Dialog-->
                <div class="modal fade" id="ShowQuery" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Show Query</h4>
                    </div>
                    <div class="modal-body">
                    <p>This is some sample code that shows the query executed against MongoDB.</p>
                    <label id="lblTextSampleSource" class="text-danger"></label>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
                </div>    

           <label id="lblTextResults" class="bg-info"></label>

            <div class="content-fluid">
            <div class="panel panel-default">
            <div class="panel-body" style="height: 800px;overflow: auto" id="GeoResultsDIV">
            <table id="TableGeoResults" class="TextSearchResultsCSS"/>
            <br>
            <div id="map"></div>
            <br>
           
                </div>
            </div>
            </div>

      </div> <!-- content -->
      </div> <!-- col-sm-6 -->
      </div> <!-- row -->
      </div> <!-- container-->
    
  </body>
</html>
