<% include ./partials/header %>

  <body data-spy="scroll" data-target="#myScrollspy" data-offset="15">


    <script>
      window.onload = function () {

        var Datamodel =
          "{~X~1\"business_id\":\"encrypted business id\",~X~1\"name\":\"business name\",~X~1\"neighborhood\":\"hood name\",~X~1\"address\":\"full address\",~X~1\"city\":\"city\",~X~1\"state\":\"state\",~X~1\"postal code\":\"postal code\",~X~1\"location\":{ sub document containing longitude and lattitude },~X~1\"stars\":star rating, rounded to half-stars,~X~1\"review_count\":number of reviews,~X~1\"is_open\":0/1 (closed/open),~X~1\"attributes\":[\"an array of strings: each array element is an attribute\"],~X~1\"categories\":[\"an array of strings of business categories\"],~X~1\"hours\":[\"an array of strings of business hours\"],~X~1\"type\": \"business\"~X}";

        $('#business_collection').append(syntaxHighlight(Datamodel));

        var usersmodel =
          "{~X~1\"user_id\":\"encrypted user id\",~X~1\"name\":\"first name\",~X~1\"review_count\":number of reviews,~X~1\"yelping_since\": date formatted like \"2009-12-19\",~X~1\"friends\":[\"an array of encrypted ids of friends\"],~X~1\"useful\":\"number of useful votes sent by the user\",~X~1\"funny\":\"number of funny votes sent by the user\",~X~1\"cool\":\"number of cool votes sent by the user\",~X~1\"fans\":\"number of fans the user has\",~X~1\"elite\":[\"an array of years the user was elite\"],~X~1\"average_stars\":floating point average like 4.31,~X~1\"compliment_hot\":number of hot compliments received by the user,~X~1\"compliment_more\":number of more compliments received by the user,~X~1\"compliment_profile\": number of profile compliments received by the user,~X~1\"compliment_cute\": number of cute compliments received by the user,~X~1\"compliment_list\": number of list compliments received by the user,~X~1\"compliment_note\": number of note compliments received by the user,~X~1\"compliment_plain\": number of plain compliments received by the user,~X~1\"compliment_cool\": number of cool compliments received by the user,~X~1\"compliment_funny\": number of funny compliments received by the user,~X~1\"compliment_writer\": number of writer compliments received by the user,~X~1\"compliment_photos\": number of photo compliments received by the user,~X~1\"type\":\"user\"~X}";

        $('#users_collection').append(syntaxHighlight(usersmodel));

        var reviewmodel =
          "{~X~1\"review_id\":\"encrypted review id\",~X~1\"user_id\":\"encrypted user id\",~X~1\"business_id\":\"encrypted business id\",~X~1\"stars\":star rating, rounded to half-stars,~X~1\"date\":\"date formatted like \"2009-12-19\",~X~1\"text\":\"review text\",~X~1\"useful\":number of useful votes received,~X~1\"funny\":number of funny votes received,~X~1\"cool\": number of cool review votes received,~X~1\"type\": \"review\"~X}";

        $('#review_collection').append(syntaxHighlight(reviewmodel));

      }
    </script>
<% include ./partials/navbar %>

    <div class="container">
      <div class="row">

        <% var active='indexes'; %>
          <% include ./partials/sidebar %>

            <div class="col-sm-9 col-md-9 col-lg-9">
              <div class="content">
                <div class="hero-unit">
                  <h3>MongoDB</h3>
                  <h4>A general purpose database for modern applications</h4>
                  <br>
                  <p>Thank you for taking the time to check out some of the capabilities of MongoDB!</p>
                  <br>
                  <p>
                    <b>Select a capability on the left menu to explore.</b>
                  </p>
                  <br>
                  <p>If you are a propeller head and curious about the data set that is being used for this website:</p>
                  <p>Yelp, Inc. has published over 4.1 Million reviews from 1M users as part of its
                    <a href="https://www.yelp.com/dataset_challenge"
                      target="_">Yelp Dataset Challenge</a>. If you are a student and want to win some cash the Yelp dataset is easily
                    imported into MongoDB. Check out the contest website for rules. For the rest of us who are not students
                    there is a lot of academic and learning value from these data. The features listed on the left side of
                    this web page leverage the Yelp data that has been loaded into a MongoDB instance. This enables you to
                    both explore this rich dataset and discover the native power of MongoDB.</p>
                  <p class="text-warning">Note: This dataset is a subset of the entire Yelp data so if you query a particular city for example you
                    may only see a cluster of reviews in a given area as opposed to the whole city itself.</p>
                  <br>
                  <p>These are the collections that represent the Yelp data in MongoDB:</p>
                  <br>
                  <div class="well">

                    <h4>business collection</h4>
                    <div id="business_collection"></div>
                    <h4>users collection</h4>
                    <div id="users_collection"></div>
                    <h4>reviews collection</h4>
                    <div id="review_collection"></div>
                  </div>
                  <p>
                    <a class="btn primary large" href="https://www.mongodb.com/mongodb-3.4">Learn more about MongoDB &raquo;</a>
                  </p>
                </div>
              </div>
              <!-- content -->
            </div>
            <!-- col-sm-6 -->
      </div>
      <!-- row -->
    </div>
    <!-- container-->

<% include ./partials/footer %>