<!DOCTYPE html>
<html>
<head>
    <title>GRIDFS Example</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    function handleFiles() {
        //Prevent the form from trying to post itself again
        event.preventDefault();
        
        var PhotoFile = document.getElementById('HiddenInputFilename').files[0];
        if (PhotoFile==false) 
        {
                document.getElementById('lblStatus').innerHTML = 'You need to choose a valid file!';
                return false;
        }
        if (!PhotoFile.name.match(/\.(pdf|jpg|bmp|jpeg|png|gif)$/))
        {
                document.getElementById('lblStatus').innerHTML = 'Only image files can be uploaded!';
                return false;
        }
        
        var Description = $('#inputDescription').val();
       // var headers = { Authorization: 'Bearer @ViewBag.AccessToken'};
        var uploadUrl = '/upload';
       
        var formData = new FormData();
       //Create a JSON object filled with our metadata for storing with our image
        var Metadata={ description : Description};
       
       //metadata will be in the body of the request
       //you need to stringify else it will be received as "[object Object]"
        formData.append('metadata',JSON.stringify(Metadata));
        formData.append('file',PhotoFile, PhotoFile.name);
        
        //Use AJAX and submit the form data to the server
        $.ajax({
            url: uploadUrl,
           // headers: headers,  use this for special header info like security auth
            method: 'POST',
            // This prevents JQuery from trying to append the form as a querystring
            processData: false,
            contentType: false,
            data: formData
         }).done(function(data)
            {
                document.getElementById('lblStatus').innerHTML = 'Photo Uploaded !';
            }).fail(function(data)
            {
                document.getElementById('lblStatus').innerHTML = 'Photo failed to upload !';
            }); 



}
</script>

</head>
<body>
   <div class="container" style="margin-top:10px;">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">GridFS Photo Storage and Retrieval Demo</a>
                <ul class="nav">
                    <li><a href="/">View photos</a></li>
                    <li class="active"><a href="/new">Upload Photo</a></li>
                </ul>
            </div>
        </div>
      <form class="form-horizontal" enctype="multipart/form-data" method="post" name="fileinfo">
        <div class="control-group">
        <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
            <label class="control-label" for="HiddenInputFilename">Filename</label>
               <input type="file" id="HiddenInputFilename" onchange="$('#inputFilename').val($(this).val().split(/[\\|/]/).pop());" style="display: none;" >
        <input type="text" id="inputFilename" placeholder="Filename..." >
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
               <input type="text" id="inputDescription" placeholder="Description">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
            <button type="submit" class="btn" id="uploadButton" onclick="handleFiles()" >Upload Photo</button><br><br>
            <label class="label" id="lblStatus"></label>
            </div>
        </div>
    </form>
    </div>
</body>
</html>
