<% include ./partials/header %>

<% include ./partials/navbar %>

    <div class="container">
      <div class="row">

        <% var active='spark'; %>
          <% include ./partials/sidebar %>

            <div class="col-sm-9 col-md-9 col-lg-9">
              <div class="content">
                <div class="hero-group">
                  <h2>Spark Integration</h2>
                  <p>MongoDB offers a high performance connector for Apache Spark. The connector exposes all of Spark’s libraries,
                    including Python, R, Scala and Java. MongoDB data is materialized as DataFrames and Datasets for analysis
                    with machine learning, graph, streaming, and SQL APIs.</p>

                  <div class="row">
                    <div class="col-sm-12">
                      <img style="width:100%" src="images/spark.png">
                    </div>
                  </div>
                  <p>The MongoDB Connector for Apache Spark can take advantage of MongoDB’s aggregation pipeline and secondary
                    indexes to extract, filter, and process only the range of data it needs – for example, analyzing all
                    customers located in a specific geography. This is very different from simple NoSQL datastores that do
                    not support either secondary indexes or in-database aggregations. In these cases, Spark would need to
                    extract all data based on a simple primary key, even if only a subset of that data is required for the
                    Spark process. This means more processing overhead, more hardware, and longer time-to-insight for data
                    scientists and engineers. To maximize performance across large, distributed data sets, the MongoDB Connector
                    for Apache Spark can co-locate Resilient Distributed Datasets (RDDs) with the source MongoDB node, thereby
                    minimizing data movement across the cluster and reducing latency.</p>
                  <br>
                  <p>For more information check out this deep dive webinar:
                    <br>
                    <br>
                    <a href="https://www.mongodb.com/presentations/webinar/introducing-the-spark-connector-for-mongodb-emea">Webinar: Introducing the Spark Connector for MongoDB</a>



                </div>
                <!--hero-->
              </div>
              <!--content-->
            </div>
            <!-- col-sm -->

      </div>
      <!--row-->
    </div>
    <!--container-->

<% include ./partials/footer %>